* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    height: 100%;
}

.signin-btn button {
    padding: 0.75rem;
    border-radius: 30px;
    border: none;
    color: white;
    width: 145px;
    background: linear-gradient(130deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
    transition: all 0.3s ease;
}

.signin-btn button:hover {
    opacity: 0.7;
}

/* ----------------------- header --------------------------- */
header {
    height: 10vh;
    border-bottom: 1px solid black;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
}

.header-menu {
    margin-left: 400px;
    width: 70vh;
}

.header-menu ul {
    display: flex;
    justify-content: space-around;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
}

.header-menu ul li a:hover {
    color: aqua;
}

/* ------------------------ main ---------------------------- */
main {
    display: flex;
    padding: 1.5rem;
    overflow: hidden;
}

.heading {
    text-align: center;
}

/* ---------------------------- product list --------------------------------------- */

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 5rem;
    text-align: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid black;
    border-radius: 10px; */
}

.product-img {
    width: 200px;
    height: 200px;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: fit-content;
    margin: 1rem 0;
}

.product-desc {
    display: none;
}

.product-price {
    font-size: 20px;
    margin: 1rem 0;
}

.add-cart-btn {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: hsl(136, 65%, 51%);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1rem 0 0 0;
}

.add-cart-btn:hover {
    background-color: hsl(136, 65%, 51%, 0.7);
}

.modal-open {
    cursor: pointer;
}

/* --------------------------------------------- modal ---------------------------------------------------- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    display: flex;
    width: 80vw;
    height: 70vh;
}

.modal-left {
    width: 40%;
    height: 100%;
}

.modal-right {
    width: 60%;
    height: 100%;
}


/* ------------------------------ cart ------------------------------------ */

.cart-container {
    order: 2;
    height: fit-content;
    background-color: white;
    overflow: scroll;
    width: 0;
    height: 0;
}

.hidden {
    transform: translateX(100%);
    transition: all 0.4s ease;
}

.icon-box {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.cart-icon {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: calc(30vh - 40px);
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-icon:hover {
    opacity: 0.7;
}

.mini-total-items {
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 4px;
    right: 13px;
}

svg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.cart-main {
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: fit-content;
    max-width: 70vw;
    height: fit-content;
    max-height: 70vh;
    position: fixed;
    top: 30vh;
    right: 0;
    background-color: white;
    transition: all 0.4s ease;
}

.cart-heading {
    text-align: center;
    margin: 0 0 10px 0;
}

.table-top-box {
    overflow: scroll;
}

.table-top-box::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
.table-top-box::-webkit-scrollbar:horizontal {
    width: 0;
    height: 0;
}
.table-top-box::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.table-top-box::-webkit-scrollbar-thumb {
    background-color: #8d8d8d;
    border-radius: 10px;
}


table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid;
    padding: 8px;
}

tr td {
    text-align: center;
}

.cart-title {
    vertical-align: middle;
    text-align: left;
}

.cart-image{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.table-bottom {
    margin-top: 1rem;
}


/* ------------------------- footer ------------------------------ */
footer {
    background-color: hsl(233, 26%, 24%);
    /* padding: 1rem 0 1px 0; */
}

.footer {
    padding: 0 8vw;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    color: white;
    align-items: center;
}

.footer-menu ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
}

.footer-menu ul li {
    list-style: none;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: aqua;
}

.copyright {
    color: white;
    text-align: center;
    font-size: 11px;
    padding: 3rem 0 0 0;
}