* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    height: 100%;
}

.signin-btn {
    width: fit-content;
    background-color: white;
    border-radius: 30px;
}

.signin-btn button {
    padding: 0.75rem;
    border-radius: 30px;
    border: none;
    color: white;
    width: 145px;
    background: linear-gradient(130deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 18px;
}

.signin-btn button:hover {
    opacity: 0.7;
}

/* --------------------------------------------- header -------------------------------------------------- */
header {
    height: 10vh;
    border-bottom: 1px solid black;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4vw;
    height: 100%;
}

.header-menu {
    margin-left: 30vw;
    margin-right: 10px;
    width: 70vh;
}

.header-menu ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.header-menu ul li {
    list-style: none;
}

.header-menu ul li a {
    text-decoration: none;
}

.header-menu ul li a:hover {
    color: aqua;
}

@media screen and (max-width:769px) {
    .header-menu {
        display: none;
    }
}

/* ------------------------ main ---------------------------- */

.shop {
    padding-bottom: 8rem;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

main {
    overflow: hidden;
    width: 100%;
    padding: 0 1.5rem;
}

.heading {
    text-align: center;
    margin: 4rem 0;
}

.heading h1 {
    margin: 0;
    font-size: 42px;
}

.heading p {
    width: 70vw;
    min-width: 290px;
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem 0;
    line-height: 1.5;
    font-size: 18px;
}

.product-list-heading {
    text-align: center;
    font-size: 30px;
    padding-bottom: 2rem;
}

/* ---------------------------- product list --------------------------------------- */

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 4rem;
    width: 100%;
    place-items: center;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 2rem 1rem;
    width: 100%;
    height: 100%;
    max-width: 255px;
}

.modal-open {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 100%;
    height: 300px;
    padding: 1rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.product-img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: fit-content;
    margin: 1rem 0;
    width: 100%;
    max-width: 400px;
}

.hide-desc {
    display: none;
}

.hide-categ {
    display: none;
}

.rate-box {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    margin: 10px 0;
}

.rating-num {
    position: absolute;
    top: -15px;
    left: 85px;
    opacity: 0;
    transition: all 0.3s ease;
    background-color: black;
    color: white;
    height: 17px;
    border-radius: 5px;
    font-size: 12px;
    margin: 0;
    padding: 3px 5px;
}

.rating-num::after {
    content: '';
    position: absolute;
    bottom: -9.34px;
    left: 6px;
    border-width: 5.3px;
    border-style: solid;
    border-color: #000000 transparent transparent transparent;
}


.star-box:hover .rating-num {
    opacity: 1;
    transition-delay: 0.6s;
}

.star {
    color: #b3b3b3;
    font-size: 20px;
}

.star-filled {
    color: gold;
}

.product-price {
    font-size: 20px;
    margin: 1rem 0;
}

.add-cart-btn {
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: hsl(136, 65%, 51%);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1rem 0 0 0;
}

.add-cart-btn:hover {
    background-color: hsl(136, 65%, 51%, 0.7);
}

.modal-open {
    cursor: pointer;
}

@media screen and (max-width:769px) {
    .product-card {
        max-width: 280px;
    }
}

/* --------------------------------------------- modal ---------------------------------------------------- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.modal-container {
    display: flex;
    width: 80vw;
    height: 80vh;
    position: relative;
    border-radius: 10px;
}

.modal-left {
    width: 100%;
    height: 100%;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.modal-left img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.modal-right {
    width: 100%;
    background-color: white;
    padding: 1rem 3rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: scroll;
}

.modal-right::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.modal-right::-webkit-scrollbar:horizontal {
    width: 0;
    height: 0;
}

.modal-right::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.modal-right::-webkit-scrollbar-thumb {
    background-color: #6f6f6f;
    border-radius: 10px;
}

.modal-title {
    font-size: 22px;
    margin-bottom: 0;
}

.caption {
    margin: 1rem 0 0.5rem 0 ;
    font-size: 14px;
}

.modal-desc {
    font-size: 18px;
    margin-top: 3px;
}

.modal-categ-box {
    display: flex;
    width: 100%;
    gap: 2%;
}

.modal-categ-box p {
    margin: 0;
}

.modal-close {
    position: absolute;
    top: 4px;
    right: 4px;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

.modal-close svg {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
}

.modal-close svg:hover {
    opacity: 0.6;
}


@media screen and (max-width:769px) {
    .modal-container {
        flex-direction: column;
        overflow: scroll;
        height: 90%;
    }

    .modal-container::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .modal-container::-webkit-scrollbar:horizontal {
        width: 0;
        height: 0;
    }

    .modal-container::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 10px;
    }

    .modal-container::-webkit-scrollbar-thumb {
        background-color: #6f6f6f;
        border-radius: 10px;
    }

    .modal-left {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        padding: 2rem;
    }

    .modal-right {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        padding: 1.5rem;
        overflow: visible;
    }

    .modal-close {
        position: fixed;
        top: 5.5%;
        right: 11%;
    }
}

/* ------------------------------ cart ------------------------------------ */

.cart-container {
    height: fit-content;
    background-color: white;
    overflow: scroll;
    width: 0;
    height: 0;
}

.hidden {
    transform: translateX(100%);
    transition: all 0.4s ease;
}

.icon-box {
    position: relative;
    width: fit-content;
    height: fit-content;
}

.cart-icon {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: calc(30vh - 50px);
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.cart-icon:hover {
    opacity: 0.7;
}

.icon-box svg {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.mini-total-box {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-total-items {
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.cart-main {
    border: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: fit-content;
    max-width: 90vw;
    min-width: 330px;
    height: fit-content;
    max-height: 70vh;
    position: fixed;
    top: 30vh;
    right: 0;
    background-color: white;
    transition: all 0.4s ease;
    z-index: 100;
}

.cart-heading {
    text-align: center;
    margin: 0 0 10px 0;
}

.table-top-box {
    overflow: scroll;
    width: 100%;
    max-width: 760px;
}

.table-top-box::-webkit-scrollbar {
    width: 5px;
    height: 4px;
}
.table-top-box::-webkit-scrollbar:horizontal {
    width: 4px;
    height: 4px;
}
.table-top-box::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.table-top-box::-webkit-scrollbar-thumb {
    background-color: #8d8d8d;
    border-radius: 10px;
}


table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

th {
    border-left: 1px solid;
    padding: 0 10px;
}

td {
    border-left: 1px solid;
    border-top: 1px solid;
    padding: 8px;
}

th:first-child {
    border-top: none;
    border-left: none;
}

td:first-child {
    border-left: none;
}

.bottom-td td {
    border-top: none;
}

tr td {
    text-align: center;
}

.cart-title {
    text-align: left;
    display: flex;
    align-items: center;
}

.cart-image{
    object-fit: contain;
    width: 30px;
    height: 30px;
    margin: 0 14px;
}

.table-bottom {
    margin-top: 1rem;
    width: 100%;
    max-width: 760px;
}

.quantity-btn {
    width: 21px;
    height: 21px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 0.2;
}

.btn-hover {
    transition: all 0.3s ease;
}

.btn-hover:hover {
    background-color: rgba(218, 218, 218, 0.8);
}

.minus {
    margin-right: 5px;
}

.plus {
    margin-left: 5px;
}

.delete {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width:769px) {
    .cart-main {
        width: 95vw;
    }

    .table-top-box {
        max-width: 100%;
    }

    .table-bottom {
        max-width: 100%;
    }
}


/* -------------------------------------------- footer ----------------------------------------------- */
footer {
    background-color: hsl(233, 26%, 24%);
    padding-top: 3rem;
    padding-bottom: 2px;
}

.footer {
    padding: 0 8vw;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    color: white;
    align-items: center;
}

.footer-menu ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
    text-align: center;
    font-size: 18px;
}

.footer-menu ul li {
    list-style: none;
    white-space: nowrap;
}

.footer-menu ul li a {
    color: white;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: aqua;
}

.footer-bottom {
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 3rem 0 0 0;
}

@media screen and (max-width:769px) {
    .footer-top {
        flex-direction: column;
        gap: 3rem;
    }
}